.container-fluid {
  height: 100vh;
}

.dashboardRow {
  height: 100%;
}

.sidebar {
  height: 100%;
  position: sticky;
  top: 0;
}

.mainContent {
  height: 100%;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .dashboardRow {
    flex-direction: column;
  }

  .sidebar {
    height: 100%;
    position: sticky;
    top: 0;
    width: 100%;
    height: auto;
  }

  .mainContent {
    width: 100%;
  }
}
