html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

.nav-link.active {
  border-right: 4px solid orange;
  border-radius: 4px;
  background: #f1edd4bd;
}

.my-spinner {
  height: 100vh;
}

.overflow-hidden {
  overflow: hidden;
}

/* LANDING PAGE */
.bg-gradient-primary {
  background: linear-gradient(135deg, #1e3c72 0%, #2a5298 100%);
}

/* CHAT PAGE */
.bg-gradient-chat {
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  border: none;
  transition: transform 0.2s ease;
}
.bg-gradient-chat:hover {
  transform: scale(1.05);
}

/* CLIENT */
.bg-gradient-client {
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  border: none;
  transition: transform 0.2s ease;
}

.bg-gradient-client:hover {
  transform: scale(1.05);
}

/* NAVIGATION BAR */
.bg-gradient-mlinda {
  background: linear-gradient(135deg, #080808dd, #051930);
  border-radius: 16px;
}
.nav-link-mlinda {
  transition: color 0.3s ease, transform 0.2s ease;
}

.nav-link-mlinda:hover {
  color: #ffc107 !important;
  transform: translateY(-2px);
}

/* DASHBOARD */
.card-skeleton {
  animation: pulse 1.5s infinite;
}

.chart-skeleton {
  height: 300px;
  position: relative;
}

.skeleton-box {
  background: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
  height: 100%;
  border-radius: 8px;
  animation: loading 1.5s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes loading {
  0% {
    background-position: -200px 0;
  }

  100% {
    background-position: 200px 0;
  }
}

/* LINE CLAMP */
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
